.card
    background-color: lighten($white, 10%)
    box-shadow: 0 2px 5px rgba($dark, .3)
    border-radius: .2rem
    overflow: hidden

    & > div, & > a
        padding: .8rem 1.2rem
        display: block
        color: inherit
        text-decoration: none

        &:not(:last-child), &:not(.divider)
            border-bottom: 1px solid rgba($dark, .2)
        
        &.card-header
            font-weight: bold
            // text-align: center
            padding: .8rem 1rem .5rem 1rem
            font-size: 1.3rem
            color: $pink
            text-transform: capitalize

        &.card-divider
            background-color: darken($white, 10%)
            color: lighten($dark, 25%)
            padding: .1rem 1rem
            border-bottom: none!important
            
        &.card-disabled, &.card-disabled:hover
            color: lighten($dark, 50%)
            cursor: not-allowed

        &.card-hoverable
            transition: background-color .3s
            &:hover
                background-color: $white
                cursor: pointer
            &:active
                background-color: darken($white, 15%)
        
        &.card-img
            padding: 0
            img
                display: block
                width: 100%

        