body
    background: $dark
    color: $dark        

    .page
        position: absolute
        top: 0
        width: calc(100% - #{$sidebar-width})
        margin-left: $sidebar-width
        background: $white
        min-height: 100%

        header
            padding: 1rem
            box-shadow: 0 2px 5px rgba($dark, .3)
            font-size: 1.6rem
            text-align: center
            background-color: $green
            color: $white
        
        .content
            padding: .5rem
            max-width: $medium-size
            margin: 0 auto
            @media(max-width: $small-size)
                padding: 0rem
            

    @media(max-width: $small-size)
        .page
            width: 100%
            margin-left: 0
            transform: translateX(0)
            transition: transform .3s
        &.menu-visible
            .page
                transform: translateX($sidebar-width)
                



