body
    background: $dark
    color: $dark        

    .page
        position: absolute
        top: 0
        width: calc(100% - #{$sidebar-width})
        margin-left: $sidebar-width
        background: $white
        min-height: 100%

        header
            padding: 1rem
            box-shadow: 0 2px 5px rgba($dark, .3)
            font-size: 1.6rem
            text-align: center
            background-color: $green
            color: $white
        
        .content
            padding: .5rem
            max-width: $medium-size
            margin: 0 auto
            @media(max-width: $small-size)
                padding: 0rem
            

    @media(max-width: $small-size)
        .page
            width: 100%
            margin-left: 0
            transform: translateX(0)
            transition: transform .3s
        &.menu-visible
            .page
                transform: translateX($sidebar-width)
                

    


// colors

$colors : "dark" $dark, "white" $white, "silver" $silver, "gray" $gray, "green" $green, "pink" $pink 

@each $color in $colors
    .text-#{nth($color, 1)}
        color: nth($color, 2)
    .bg-#{nth($color, 1)}
        background-color: nth($color, 2)

// quick settings

.text-right
    text-align: right
.text-center
    text-align: center
.text-left
    text-align: left


small
    font-weight: 100
    font-size: .7em

.transparent
    opacity: .4


.input-group
    label
        display: block
        font-variant: small-caps
        font-weight: 500
        font-size: .8rem

    input[type="text"]
        display: block
        border: none
        border-bottom: 1px solid $dark
        outline: none
        padding: 12px 0 6px
        width: 100%
        font-size: 1rem
        transition: border-bottom .3s
        &:focus
            border-bottom: 2px solid $green

.materialCircleButton
    position: absolute
    bottom: 50px
    right: 50px
    &:before
        content: "+"
        display: block
        width: 60px
        height: 60px
        line-height: 60px
        font-size: 2rem
        text-align: center        
        color: $white
        background: $green
        cursor: pointer
        border-radius: 50%
        box-shadow: 0 5px 10px rgba($dark, .3)

    @media(max-width: $medium-size)
        bottom: 15px
        right: 15px
        &:before
            width: 50px
            height: 50px
            line-height: 50px




        