<div class="card" ng-init="product= {}">
    <div class="card-header">Ajouter un article</div>
    <div class="card-line input-group">
        <label for="product-name">Nom du produit</label>
        <input type="text" id="product-name" ng-model="product.name" placeholder="Mon produit...">
    </div>
    <div class="card-line input-group">
        <label for="product-code">Code barre</label>
        <input type="text" id="product-code" ng-model="product.code" placeholder="xxxxxxxxxxxxx">
    </div>
    <a class="card-cta">
        Ajouter
    </a>
</div>