<div class="card" ng-init="product= {}">
    <div class="card-header">Ajouter un article</div>
    <div class="card-line input-group">
        <label for="product-title">Nom du produit</label>
        <input type="text" id="product-title" ng-model="product.title" placeholder="Mon produit..." ng-enter="save(product)">
    </div>
    <div class="card-line input-group">
        <label for="product-code">Code barre</label>
        <input type="text" id="product-code" ng-model="product.code" placeholder="xxxxxxxxxxxxx" ng-enter="save(product)">
    </div>
    <a class="card-cta" ng-click="save(product)">
        Ajouter
    </a>
</div>