<header>Ma Liste de courses</header>
<div class="content">
    <div class="grid">
        <div class="col-1-1">
            <div class="card">
                <div class="card-header">Ajoutés récemment</div>
                <div class="card-line" ng-repeat="item in shoppingList.list">
                    <input type="checkbox" ng-model="item.checked">
                    {{ item.title }}
                    <small>
                        {{ item.code }}
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>